@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f7fb;
  min-height: 100vh;
  color: #333;
}

/* NAVBAR */

.navbar {
  background: #0d3b66;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffd166;
}

.logout-btn {
  padding: 6px 14px;
  background: #ef476f;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.8;
}

/* CONTAINER */

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

/* CARD */

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

/* BUTTON */

.btn {
  padding: 10px 18px;
  background: #118ab2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #073b4c;
}

/* FORM */

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 15px 0;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* GRID */

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.course-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.06);
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-4px);
}

/* AUTH CARD CENTER */

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  text-align: center;
}
.enrolled-btn {
  background: #2ecc71;
  cursor: not-allowed;
}